git+https://github.com/albumentations-team/albumentations@0.5.2
pandas
opencv-python
matplotlib
numpy
git+https://github.com/qubvel/segmentation_models.pytorch@v0.1.3
git+https://github.com/phizaz/pytorch-trainer@pylon2
